{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "rules": {
    "key-spacing": 0,
    "no-param-reassign": [2, {"props": false}]
  },
  "globals": {
    "Promise": true,
    "TweenMax": true,
    "Power4": true,
    "fetch": true
  }
}